@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);

*, html, body, h1, h2, h3, h4, h5, h6, .intro_desc h6{
    font-family: 'Noto Kufi Arabic', serif;
}

.border_list > li::before {
    content: "";
    position: absolute;
    right: 0;
    height: 12px;
    width: 1px;
    background-color: #888888;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dropdown-toggle::after, .dropdown-toggler::after {
    border: 0 none;
    content: "\f3d0";
    font-family: "Ionicons";
    height: auto;
    line-height: normal;
    margin-right: 5px;
    vertical-align: middle;
    width: auto;
    transition: all 0.3s ease-in-out;
    font-weight: 100;
}

.navbar .navbar-nav > li > .nav-link {
    font-weight: 500;
    padding: 35px 10px;
    text-transform: capitalize;
    font-size: 17px;
}

.navbar .navbar-nav li.dropdown-mega-menu .dropdown-menu {
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.dropdown-menu .dropdown-toggler::after {
    position: absolute;
    left: 10px;
    top: 10px;
}

@media only screen and (min-width: 992px)
{
    .navbar .navbar-nav .dropdown-menu .dropdown-menu {
        right: 100%;
        top: 0;
    }
}

.navbar-rtl{
    padding-right: 30px;
}

.search_icon {
    font-size: 18px;
    position: absolute;
    left: 15px;
    top: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}